In [1]:
import requests
import pandas as pd
import sqlite3
import lxml.html

In [2]:
r = requests.get("https://www.forbes.com/athletes/list/#tab:overall")

In [3]:
doc                         = lxml.html.fromstring(r.text)
list_table_body_elements    = doc.xpath("//tr")

In [4]:
# header of the table
list_table_body_elements_tb = list_table_body_elements[1:]
print(list_table_body_elements[0].text_content())

					Rank



					Name



					Pay



					Salary/Winnings



					Endorsements



					Sport

In [5]:
# header of the table
for row in list_table_body_elements_tb[:1]:
    print(row.getchildren())
    print(row[0].text_content())

[<Element td at 0x7f69fdf99c28>, <Element td at 0x7f69fdf99e08>, <Element td at 0x7f69fdf99e58>, <Element td at 0x7f69fdf99ea8>, <Element td at 0x7f69fdf99ef8>, <Element td at 0x7f69fdf99f48>, <Element td at 0x7f69fdf99f98>]

In [6]:
len( row.text_content()[0:]) #Althlets in the table

92

In [7]:
print("RANK:            ", row.getchildren()[0].text_content().strip())
print("NAME:            ", row.getchildren()[1].text_content().strip())
print("PAY:             ", row.getchildren()[2].text_content().strip())
print("SALARY:          ", row.getchildren()[3].text_content().strip())
print("ENDORSEMENTS:    ", row.getchildren()[4].text_content().strip())
print("SPORT:           ", row.getchildren()[5].text_content().strip())

RANK:
NAME:             [RANK]
PAY:              [NAME]
SALARY:           [PAY]
ENDORSEMENTS:     [SALARY]
SPORT:            [ENDORSEMENTS]

In [12]:
df = pd.DataFrame(doc)
df[df.name =="LeBron James"]

AttributeError: 'DataFrame' object has no attribute 'name'

In [192]:
db = sqlite3.connect(':memory:')
cursor   = db.cursor()

_        =cursor.execute("""
    CREATE TABLE IF NOT EXISTS RANK(Rank, 
                            Name,
                            Pay,
                            Salary/Winnings,
                            Endorsements,
                            Sport)
""")

for row in row.getchildren()[2:]:
    cursor.execute("""
            INSERT INTO RAANK(Rank
                            Name,
                            Pay,
                            Salary/Winnings,
                            Endorsements,
                            Sport)
            VALUES(?,?,?,?)
    """, (row.getchildren()[1].text_content(), row.getchildren()[2].text_content(), row.getchildren()[3].text_content(), row.getchildren()[4].text_content(), row.getchildren()[5].text_content()))
db.commit()

cursor.execute("""
    SELECT * FROM RANK
""")

db.commit()
#print(c.fetchmany(10))

OperationalError: near "/": syntax error

In [191]:
#setting up a pandas dictionary
data = {
    "rank":            [],
    "name":            [],
    "pay":             [], 
    "salary/winnings": [], 
    "endorsements":    [],
    "sport":           [] 
    
}

#for row in c.fetchall():

for row in list_table_body_elements_tb [:1]:
    cells = row.getchildren()
    
    data["rank"].append(            cells[0].text_content().strip() )
    data["name"].append(            cells[1].text_content().strip() )
    data["pay"].append(             cells[2].text_content().strip() )
    data["salary/winnings"].append( cells[3].text_content().strip() )
    data["endorsements"].append(    cells[4].text_content().strip() )
    data["sport"].append(           cells[5].text_content().strip() )

    df = pd.DataFrame(data)
    df

In [201]:
data["name"]

['[RANK]']